html {
    font-family: 'Raleway', sans-serif;

}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    transition: all ease .3s;
}

main {
    display: grid;
    text-align: center;
    min-width: 70%;
    flex-grow: 1
}

main>.intro {
    font-family: 'Source Code Pro', monospace;
    font-size: 3.75rem;
    font-weight: 900;
}

main .tagline {
    font-size: 30px;
    margin: 30px 0;
}

h3 {
    margin: 5em 0;
    font-size: 2rem;
}

.icons-social i {
    font-size: 3rem;
}

.icons-social i {
    padding: 10px;
}

i.fa-heart {
    color: #FF4136;
}

footer {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: auto;
    padding: 0 0 70px 0;
    max-width: 280px;
}

footer p {
    text-align: center;
    line-height: 1.4;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 640px) {
    i.fas.fa-chevron-right {
        padding: 0;
    }

    main>.tagline {
        margin: 30px 10px;
    }
}
