html {
    font-family: 'Raleway', sans-serif;

}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    transition: all ease .3s;
}

main {
    display: grid;
    text-align: center;
    min-width: 70%;
    flex-grow: 1
}

main>.intro {
    font-family: 'Source Code Pro', monospace;
    font-size: 3.75rem;
    font-weight: 900;
}

main>.tagline {
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin: 30px 10px 30px;
}

main>.tagline span {
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.icons-social i {
    font-size: 3rem;
}

.icons-social i {
    padding: 10px;
}

i.fas.fa-chevron-right {
    padding-left: 30px;
}

i.fa-heart {
    color: #FF4136;
}

footer {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: auto;
    padding: 0 0 30px 0;
    max-width: 250px;
}

footer p {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 640px) {
    i.fas.fa-chevron-right {
        padding: 0;
    }

    main>.tagline {
        margin: 30px 10px;
    }
}