/* Typography */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

@media (min-width: 576px) {
    html {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.25rem;
    }
}

.icons-social i {
    font-size: 3rem;
}

/* Custom Styles */

main {
    display: grid;
    text-align: center;
    min-width: 70%;
}

main>.intro {
    font-family: 'Source Code Pro', monospace;
    font-size: 3.75rem;
    font-weight: 900;
}

main>.tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.icons-social i {
    padding: 10px;
}