/* Theme */

body {
    background: #FAFAFA;
    color: #0277BD;
}

a:-webkit-any-link,
.icons-social a {
    color: #0277BD;
}

.icons-social a svg path {
    fill: #0277BD;
}

.devicon-html5-plain:before {
    color: #e34f26;
}

@-webkit-keyframes pulsate {
    25% {
        background: #0074D9;
        color: hsla(208, 100%, 85%, 1.0);
        ;
    }

    50% {
        background: #FF4136;
        color: hsla(3, 100%, 25%, 1.0);
    }

    75% {
        background: #2ECC40;
        color: hsla(127, 63%, 15%, 1.0);
    }

    100% {
        background: #FFDC00;
        color: hsla(52, 100%, 20%, 1.0);
    }
}

body,
.icons-social a,
a,
a:-webkit-any-link,
a:link,
a:visited,
a:hover,
a:active {
    animation-delay: 6s;
    animation-name: pulsate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* animation-direction: alternate; */
}

.icons-social a {
    background: none !important;
}