/* Theme */

body {
    background: #FAFAFA;
    color: #0277BD;
}

a:-webkit-any-link,
.icons-social a {
    color: #0277BD;
}

.icons-social a svg path {
    fill: #0277BD;
}

.devicon-html5-plain:before {
    color: #e34f26;
}


@-webkit-keyframes pulsate {
    14% {
        color: #333 !important;
        background: #fff
    }

    28% {
        color: #165656 !important;
        background: #39CCCC
    }

    35% {
        color: #112c20 !important;
        background: #3D9970
    }

    42% {
        color: #124f18 !important;
        background: #2ECC40
    }

    49% {
        color: #00672d !important;
        background: #01FF70
    }

    56% {
        color: #665700 !important;
        background: #FFDC00
    }

    63% {
        color: #ffd6b4 !important;
        background: #FF851B
    }

    70% {
        color: #ffd1cf !important;
        background: #FF4136
    }

    77% {
        color: #e44e99 !important;
        background: #85144B
    }

    84% {
        color: #f9a2e6 !important;
        background: #F012BE
    }

    91% {
        color: #e679f6 !important;
        background: #B10DC9
    }

    95% {
        color: #5e5e5e !important;
        background: #111
    }

    96% {
        color: #919191 !important;
        background: #ddd
    }

    98% {
        color: #5d5d5d !important;
        background: #aaa
    }

    100% {
        color: #b3b3b3 !important;
        background: #fff
    }
}

body,
.icons-social a,
a,
a:-webkit-any-link,
a:link,
a:visited,
a:hover,
a:active {
    -webkit-animation: pulsate 80s linear infinite;
    animation: pulsate 80s linear infinite
}