/* Theme */

body {
    background: #FAFAFA;
    color: #0277BD;
}

a:-webkit-any-link,
.icons-social a {
    color: #0277BD;
}

.icons-social a svg path {
    fill: #0277BD;
}

.devicon-html5-plain:before {
    color: #e34f26;
}

@-webkit-keyframes pulsate {
    60% {
        background-color: #7FDBFF;
    }

    70% {
        background-color: #1abc9c;
    }

    80% {
        background-color: #FFDC00;
    }

    90% {
        background-color: #FF4136;
    }

    100% {
        background-color: #F012BE;
    }
}

body {
    animation-delay: 3s;
    animation-name: pulsate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}